/* logIn signUp page */

*{
    background-color: #fafafa;
}

#LoginPage, #SignUpPage, #HomePage, #TradePage, #PortfolioPage,#FundsPage{
display: flex;
}

.formView{
    max-width: 500px;
    max-height: 100vh;
    padding: 80px 50px;
    overflow-x: scroll;
}
.container{
    margin: 20px;
    width: 100%;
}
/* navigation component */
.navbar nav{
    background-color: #F5F5DC;
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar nav img{
    background-color: inherit;
    width: 70px;
}
.navbar nav ul{
    background-color: inherit;
    margin-top:50px;
}
.navbar nav li{
    background-color: inherit;
    font-size: 19px;
    margin-top: 20px;
    font-weight: bold;
}
.navbar nav li:hover{
   cursor: pointer;
   color: #86C8BC;
    font-size: 20px;
}
.activeTab{
    color: #439A97;

}

/* Home page */

.marketSelectionTab{
    background-color: aqua;
    font-size: 16px;
    font-weight:500;
    justify-self: center;
    width: 100%;
}
.marketSelectionTab ul{
    display: flex;
    justify-content: center;
}
.marketSelectionTab li{

    margin-right:10px;
}

.indexTable{
    margin:5px;
    height: 560px;
    overflow: scroll;
}


.indexTable tbody{
    font-weight: 550;
    font-size: 15px;
    text-align: center;
}

/* Trading page */

.searchResults{
    height: 120px;
    overflow: scroll;
    width: 380px;
}
.searchResults li{
font-size: 14px;
text-align: center;
}

.searchSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 165px;
}
.searchSection nav input{
    width: 400px;
}

.tradeInfoCard{
    width: 500px;
    height: 400px;
    border-radius: 5px;
    margin: 10px auto;
    box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
    border: 1px solid  rgba(10,10,10,.05);
    padding: 25px;
    font-weight: 500;
}

.tradeTab{
    display: flex;
}
.tradeTab > button, span{
margin-left: 10px;

}
.tradeTab input{
    width: 150px;
}

/* funds page */

.fundsSummaryCard{
    width: 440px;
    height: 240px;
    border-radius: 5px;
    margin: 10px auto;
    box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
    border: 1px solid  rgba(10,10,10,.05);
    padding: 25px;
    font-weight: 500;
}

.fundTransactionsTable{
    margin:10px 60px;
    height: 360px;
    overflow: scroll;
}
.fundTransactionsTable tbody{
    text-align: center;
}

/* portfolio page */
.portfolioSummaryCard{
    width: 50%;
    height: 190px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: inset 0 .0625em .125em rgba(10,10,10,.05);
    border: 1px solid  rgba(10,10,10,.05);
    padding: 20px;
    font-weight: 500;
}
.chartSection{
    margin: 4px 0 4px 40px;
    width: 50%;
}
.portfolioLanding{
    display: flex;
    height: 220px;
}

.stocksListSection{
    height: 410px;
    overflow: scroll;
}