/* logIn signUp page */

*{
    background-color: #fafafa;
}

#LoginPage, #SignUpPage, #HomePage{
display: flex;

}

.formView{
    max-width: 500px;
    max-height: 100vh;
    padding: 80px 50px;
    overflow-x: scroll;
}
.container{
    margin: 25px;
    width: 100%;
}
/* navigation component */
nav{
    background-color: #F5F5DC;
    width: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
nav img{
    background-color: inherit;
    width: 70px;
}
nav ul{
    background-color: inherit;
    margin-top:50px;
}
nav li{
    background-color: inherit;
    font-size: 19px;
    margin-top: 20px;
    font-weight: bold;
}
nav li:hover{
   cursor: pointer;
   color: #86C8BC;
    font-size: 20px;
}
.activeTab{
    color: #439A97;

}

/* Home page */

.marketSelectionTab{
    background-color: aqua;
    font-size: 16px;
    font-weight:500;
    justify-self: center;
    width: 100%;
}
.marketSelectionTab ul{
    display: flex;
    justify-content: center;
}
.marketSelectionTab li{

    margin-right:10px;
}

.indexTable{
    margin:20px;
}